/* 
Common CSS Stylesheet for all pages
Author: David Eelman
Date: 2017-05-31
*/

body {font-family: Tahoma, Georgia, serif;} /* Default font - Tahoma */
p {font-size: 100%; text-indent: 0px}
h1 {font-size: 200%;}
h2 {font-size: 125%;}
p, ul, ol {line-height: 20px; text-align: justify;}
