/* 
Common CSS Stylesheet for David's logbook
Author: David Eelman
Date: 2017-05-31
*/

html,
body,
.view {
    height: 100%;
}

.view {
    background: url("https://cdn1.epicgames.com/ue/item/ElevatorSystemDemo_Screenshot_04-1920x1080-7034a15b813fe43754125a2d8b679708.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer-content{
    color: grey; 
    background-color:rgba(0, 0, 0, 0.9);
}